<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>EJS Form</title>
</head>
<body>
<form method="post" action="/login">
  <h1>Login form</h1>
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="text" name="username" id="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>
  
</body>
<button><a href="http://localhost:3000/private">Private page</a></button><br>
<button><a href="http://localhost:3000/admin">Administrative page</a></button>
</html>