<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>EJS Form</title>
</head>
<body>
<form method="post" action="/login">
  <h1>Login form</h1>
    <p>
      <label for="username">Username:</label>
      <input type="text" name= <%= username %> id="username">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="text" name=<%= password %> id="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>
  
</body>
<a href="http://localhost:3000/private">Please follow on the next page ...</a>
</html>